// @use "../css/partials/global" as *;
@use "./partials/components/nav";
@use "./partials/colors" as *;
@use "../css/partials/display" as *;
@use "../css/partials/fonts";

%icon-logo-sizes {
	min-width: 3.13rem;
	max-width: 7.5rem;
}

/* Header, nav-hero and footer background color */
:is(header, .hero, footer) {
	@include section-bg-color(#ccc);
}

/* Hero */
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 18.75rem;
	padding-top: 3.75rem;
	padding-bottom: 5rem;

	@include laptop-1280 {
		column-gap: 29rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		height: 55vh;
		width: 30%;

		@include laptop-1280 {
			width: 25%;
			row-gap: 1.88rem;
			justify-content: center;
		}

		@include laptop-1440 {
			width: 25%;
			row-gap: 1.88rem;
			justify-content: center;
		}

		@include desktop-1920 {
			width: 20%;
			row-gap: 1.88rem;
			justify-content: center;
		}
	}

	&__image {
		margin-right: 6.25rem;
	}

	&__button {
		@extend %button-props;

		&--border {
			@extend %button-border;
		}
	}
}

/* Products */
.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $base-silver;
	padding: 2.2222rem 0rem;

	a {
		text-decoration: none;
	}

	> h2 {
		padding-top: 1.1111rem;
		margin-bottom: 3.75rem;
	}

	&__button {
		@extend %button-props;
		margin-top: 2.5rem;

		&--border {
			@extend %button-border;
		}
	}
}

.products-card-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	gap: 3.75rem;
}

/* Products Card  */
.products-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #fff;
	min-width: 20.63rem;
	max-width: 21.88rem;
	min-height: 27.5rem;
	max-height: 28.75rem;
	border-radius: 0.63rem;
	box-shadow: 0 0.2778rem 0.5rem -0.0556rem rgba(0, 0, 0, 0.25);

	/* Product Images */
	&__images {
		min-height: 15rem;
		max-height: 34.38rem;
		margin-bottom: 1.25rem;
		padding-top: 1.56rem;
	}
	/* Adjusts height differential in middle card */
	&__images--margin-bot {
		margin-bottom: 0.31rem;
	}

	/* Price and Description Qty  */
	&__description-qty {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $primary-color;
		width: 100%;
		height: 9.38rem;
		border-bottom-right-radius: 0.63rem;
		border-bottom-left-radius: 0.63rem;
		margin-top: 1.88rem;
		padding: 1.25rem 1.11rem;
	}

	&__description-qty > ul {
		list-style: none;
	}

	/* Qty Modifier */
	&__description-qty--grey {
		color: #909090;
	}

	/* Product Cards - Pricing */
	&__price {
		font-size: 2.0625rem;
		font-weight: 700;
		color: $secondary-color;
	}
}

/* Discount */
.discount {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 12.5rem;

	&-container {
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 10rem 0rem;

		@include laptop-1440 {
			:is(&, &__banner) {
				width: 80%;
			}
		}

		@include desktop-1920 {
			:is(&, &__banner) {
				width: 61%;
			}
		}
	}

	/* Discount Content */
	&__content {
		display: flex;
		flex-direction: column;
		width: 40%;
		row-gap: 1.88rem;
		margin-right: auto;

		@include laptop-1280 {
			width: 36%;
		}

		@include laptop-1440 {
			width: 40%;
		}

		@include desktop-1920 {
			width: 39%;
		}
	}

	&__content > h2 {
		margin-bottom: 1.25rem;
	}

	/* Discount - Icons Container */
	&__icons {
		display: flex;
		justify-content: space-between;
		height: 7vh;
	}

	&__icons > img {
		@extend %icon-logo-sizes;
	}

	/* Aligns all elements to icons since icons have width */
	&__content :not(&__icons, &__button) {
		padding-left: 3.75rem;
		margin-left: -60px;
	}

	/* Discount Image Container */
	&__image {
		display: flex;
		justify-content: center;
		position: relative;
		background-image: url("../assets/images/discount_bg.png");
		background-size: cover;
		padding: 1.25rem;
		min-width: 25rem;
		max-width: 31.25rem;
		height: 47vh;

		@include desktop-1920 {
			height: 42vh;
		}
	}

	&__image--border {
		position: absolute;
		min-width: 25rem;
		max-width: 31.25rem;
		height: 47vh;
		border: 0.31rem solid $secondary-color;
		top: -20px;
		right: 20px;

		@include desktop-1920 {
			height: 42vh;
		}
	}

	/* Discount Banner */
	&__banner {
		background-color: $base-graphite;
		width: 90%;
		color: #fff;
		text-align: center;
		padding: 40px;
		font-size: 2.8125rem;

		&--bold {
			@extend %font-bold;
		}
	}

	&__button {
		@extend %button-props;

		&--border {
			@extend %button-border;
		}
	}
}

:is(.hero__button, .products__button, .discount__button) > a {
	text-decoration: none;
	color: #fff;
}

/* Company Info */
.footer {
	display: flex;
	justify-content: space-around;
	position: relative;
	height: 15.28rem;
	padding-top: 4.17rem;

	@include laptop-1280 {
		column-gap: 7vw;
	}

	@include desktop-1920 {
		justify-content: center;
		column-gap: 13vw;
	}
	/*  Footer Image - Address */
	&__logo-image-address {
		top: 30px;
		left: -30px;
	}

	&__logo-image-social {
		bottom: 50px;
		right: -30px;
	}

	/* Footer Image Properties */
	:is(&__logo-image-address, &__logo-image-social) {
		position: absolute;
		min-width: 5rem;
		max-width: 7.5rem;
		opacity: 0.25;
	}

	address {
		font-style: normal;
	}
}

/* Company Info Card */
.company-info {
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	/* Social Media Images */
	&__social {
		margin-top: -3px;
	}

	& > img {
		@extend %icon-logo-sizes;
	}

	&--bold {
		@extend %font-bold;
	}
}
