/* Header, nav-hero and footer background color */
:is(header, .hero, footer) {
	background-color: #fff0ed;
}

/* Navigation */
nav {
	padding: 1.1111rem;
}

/* All inline and inline-block items will be aligned to the bottom of the image */
nav > a > img {
	vertical-align: text-bottom;
}

/* Nitro - in navigation */
.nav__heading {
	display: inline;
}

.nav__heading > a {
	text-decoration: none;
	color: #000;
}

/* Coffee Bean Logo */
nav > img {
	min-width: 2.7778rem;
	max-width: 6.6667rem;
}

/* Removes bullets and transform all text to uppercase */
.nav__links {
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
}

.nav__links > li {
	display: inline-block;
	margin-left: 2.5rem;
}

.nav__links a {
	text-decoration: none;
	color: #000;
}

.nav__links a:hover {
	color: #5bacc3;
}

/* Hero */
.hero {
	padding: 20px;
	text-align: center;
}

/* Hero Content */
.hero__content {
	display: inline-block;
	text-align: left;
	width: 30%;
	margin: 5rem 280px 10rem 0rem;
	vertical-align: top;
}

.hero__content > p {
	margin: 2.5rem 0rem;
}

/* Hero Image */
.hero__image {
	display: inline-block;
	margin-left: 20rem;
}

/* Products */
.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f7f7f7;
	padding: 2.2222rem 0rem;
}

.products a {
	text-decoration: none;
}

.products > h2 {
	padding-top: 1.1111rem;
	margin-bottom: 60px;
}

.products-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}

/* Products Card  */
.products-card {
	display: flex;
	flex-direction: column;
	background: #fff;
	min-width: 20.63rem;
	max-width: 21.88rem;
	min-height: 27.5rem;
	max-height: 28.75rem;
	border-radius: 0.63rem;
	box-shadow: 0 0.2778rem 0.5rem -0.0556rem rgba(0, 0, 0, 0.25);
}

/* Product Images */
.products-card__images {
	display: flex;
	justify-content: center;
	padding: 1.25rem 2.5rem 2.5rem;
}

.products-card__images > img {
	height: 14.5rem;
	width: 8.63rem;
}

/* Price and Description Qty  */
.products-card__description-qty {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff0ed;
	height: 9.38rem;
	border-bottom-right-radius: 0.56rem;
	border-bottom-left-radius: 0.56rem;
	padding: 1.25rem 1.11rem;
}

.products-card__description-qty > ul {
	list-style: none;
}

/* Qty Modifier */
.products-card__description-qty--grey {
	color: #909090;
}

/* Pricing for all items */
.products__price {
	font-size: 2.0625rem;
	font-weight: 700;
	color: #5bacc3;
}

/* Products Button */
.products__button {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

/* Discount */
.discount {
	padding-top: 13.8889rem;
	padding-bottom: 13.8889rem;
}

/* Discount Banner */
.discount__banner {
	margin: auto;
	background-color: #393939;
	max-width: 80%;
	color: #fff;
	text-align: center;
	padding: 2.2222rem;
	font-size: 2.8125rem;
}

/* Font-weight - Bold modifier */
.font-bold {
	font-weight: bold;
}

/* Buttons */
a :is(.hero__button, .products__button) {
	background-color: #5bacc3;
	color: #fff;
	min-width: 10rem;
	max-width: 80%;
	padding: 1.1111rem;
	font-size: 1.125rem;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

/* Company Info */
footer {
	height: 15.28rem;
	padding-top: 4.17rem;
	padding-left: 11.11rem;
}

.company-info :is(h3 + p, h3) {
	margin-top: 1.1111rem;
}

.company-info:nth-of-type(1) {
	margin-top: -1.1111rem;
}

.company-info {
	display: inline-block;
	margin-right: 6.67rem;
}

/* Social Media Images */
.company-info__social {
	margin-top: 1.1111rem;
	min-width: 2.7778rem;
	max-width: 6.6667rem;
}
