@use "../components/abstract/" as a;

@mixin social-size($min-wid, $max-wid) {
  min-width: $min-wid;
  max-width: $max-wid;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 15.28rem;
  padding-top: 4.17rem;
  @include a.section-bg-color(a.$primary-color);

  @include a.laptop-1280 {
    column-gap: 7vw;
  }

  @include a.desktop-1920 {
    justify-content: center;
    column-gap: 13vw;
  }
  /*  Footer Image - Address */
  &__logo-image-address {
    top: 30px;
    left: -30px;
  }

  &__logo-image-social {
    bottom: 50px;
    right: -30px;
    overflow: hidden;
  }

  /* Footer Image Properties */
  :is(&__logo-image-address, &__logo-image-social) {
    position: absolute;
    min-width: 5rem;
    max-width: 7.5rem;
    opacity: 0.25;
  }

  address.company-info {
    font-style: normal;
  }
}

/* Company Info Card */
.company-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  /* Social Media Images */
  &__social {
    margin-top: -3px;
  }

  &__social img {
    @include social-size(3.13rem, 7.5rem);
  }

  &--bold {
    font-weight: 700;
  }
}
