// Primary colours for website
$primary-color: #fff0ed;
$secondary-color: #5baac3;
$base-graphite: #393939;
$base-silver: #f7f7f7;

// Buttons and Button Outline
$primary-button-color: $secondary-color;
$button-outline: $secondary-color;

// Secondary Colors;
