// Primary colours for website
$primary-color: #5baac3;
$secondary-color: #fff0ed;
$base-graphite: #393939;
$base-silver: #f7f7f7;

// Buttons and Button Outline
$primary-button-color: $base-nitro-blue;
$button-outline: $base-nitro-blue;

// Secondary Colors;
