@use "../partials/components/abstract/" as a;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Changes highlighted text background-color to Nitro Blue and font color to White */
::selection {
  background-color: a.$secondary-color;
  color: #fff;
}

/* Creates smooth scrolling effect. */
html {
  scroll-behavior: smooth;
}

body {
  @include a.body-font;
  overflow-x: hidden;
}

/* Headers Style for all pages */
h1,
h2 {
  @include a.main-headings;
}

/* H3 and Nav Heading */
:is(h3, .nav__heading) {
  @include a.subheadings;
}
